<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>公司信息</h3>
    </div>
    <%= render 'form', compan: @compan %>
  </div>
</div>
<%=render 'layerend' %>