<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>加工入库</h3>
    </div>
    <%= render 'form', inworkdepot: @inworkdepot %>
  </div>
</div>
<%=render 'layerend' %>