<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>预定单</h3>
    </div>
    <%= render 'form', inrawdepot: @inrawdepot %>
  </div>
</div>
<%=render 'layerend' %>