<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>加工单</h3>
    </div>
    <%= render 'form', preorder: @preorder %>
  </div>
</div>
<%=render 'layerend' %>