<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>编辑施工队长</h3>
    </div>
    <%= render 'form', fiter: @fiter %>
  </div>
</div>
<%=render 'layerend' %>