<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>销售入库</h3>
    </div>
    <%= render 'form', insaledepot: @insaledepot %>
  </div>
</div>
<%=render 'layerend' %>