<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>单据前缀</h3>
    </div>
    <%= render 'form', prefixorder: @prefixorder %>
  </div>
</div>
<%=render 'layerend' %>