<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>新增供应商</h3>
    </div>
    <%= render 'form', supplier: @supplier %>
  </div>
</div>
<%=render 'layerend' %>