<%= render 'layerbegin' %>
<div class="col-lg-12">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h3>定单材料定义</h3>
    </div>
    <%= render 'form', preraw: @preraw %>
  </div>
</div>
<%=render 'layerend' %>